substitutions:
  clack_select_chl_or_dpsw: Function mode
  clack_distance: Salt level distance
  clack_distance_tof: Salt level distance TOF
  clack_procent: Salt level percent
  clack_animation: Salt level for dashboard
  clack_height: Salt level height
  clack_flow_rate: Water flow rate
  clack_watermeter_total: Water meter
  clack_m3_left: Water softener m3 left
  clack_g_left: Water softener gallons left
  clack_percent_g_left: Water softener percent gallons left
  clack_version: Version
  clack_regeneration_last: Regenerated on
  clack_fill_salt: Fill salt
  clack_set_pulse_per_gallons: Set pulse per gallon
  clack_saltlevel_height_min: Min salt distance
  clack_saltlevel_height_max: Max salt distance
  clack_saltlevel_height_fill: Fill salt distance
  clack_capacity_gallons: Capacity in gallons
  clack_capacity_days: Capacity in days
  clack_chlorinator_delay: Chlorinator active time
  clack_leakage_alarm_delay: Delay leakage alarm
  clack_test_motor_run: Test button motor run
  clack_watermeter_pulse: Watermeter pulse
  clack_regeneration_pulse: Regeneration pulse
  clack_ip: Water softener IP
  clack_wifi_signal_db: WiFi Signal dB
  clack_wifi_signal_db_percent: WiFi Signal
  clack_uptime: Uptime
  clack_chlorinator: Chlorinator
  clack_chlorinator_sw: Chlorinator / DP-SW
  clack_dp_sw_init_regen: DP-SW Initialise regen
  clack_dp_sw_hold_regen: DP-SW Hold regen
  clack_dp_sw_init_hold: DP-SW Activate
  clack_salt_level_measurement: Salt measurement
  hours: hours
  days: days
  clack_yes: "yes"
  clack_no: "no"
  clack_on: "On"
  clack_off: "Off"
  clack_power: Power Clack
  clack_voltage: Voltage
  clack_power_esp: Power ESP
  clack_power_chlorinator: Power Chlorinator
  clack_restart: ESP Restart
  clack_safe_mode: ESP Restart (Safe Mode)
  clack_regen: clack regen
  clack_brine: During brine
  clack_regeneration_mode: Regeneration mode
  clack_pre_fill_no_2nd_backwash: Pre fill no 2nd Backwash
  clack_pre_fill_2nd_backwash: Pre fill 2nd Backwash
  clack_post_fill_no_2nd_backwash: Post fill no 2nd Backwash
  clack_post_fill_2nd_backwash: Post fill 2nd Backwash
  clack_time_to_regen: Time to regen
  clack_time_to_regen_hours: Time to regen hours
  clack_percent_time_left: Water softener percent time left
  clack_time_to_resinclean: Time to resinclean
  clack_cycle_runtime: Cycle runtime
  clack_cycle_total_runtime: Cycle total runtime
  clack_resinclean_capacity_days: Resinclean days
  clack_reset_but_last_dist: Reset fill salt
  clack_resinclean_last: Resinclean on
  clack_saltfill_last: Salt fill on
  clack_cycle_step: Cycle step
  clack_use_tst_but: Test button use pulse
  clack_resinclean_reset_button: Resinclean Reset
  clack_regen_stop_script: Test button Regen stop
  clack_motor_running: Motor running
  clack_water_flowing: Water flowing
  clack_water_leakage: Leakage detected
  clack_save_total_gallons_used: Capacity used
  clack_save_total_time_used: Operation time
  clack_brine_time_txt: Brine
  clack_backwash_time_txt: Backwash
  clack_backwash2_time_txt: Backwash2
  clack_rinse_time_txt: Rinse
  clack_fill_time_txt: Fill
  clack_service_time_txt: Service
  clack_total_run_time_txt: Run time
  clack_block_regen: Block regen

  
text_sensor:
  # Expose last regeneration information as sensor
  - platform: template
    name: ${clack_regeneration_last}
    id: clack_regeneration_last
    icon: mdi:clock-start
    update_interval: never
    lambda: |-
      return id(regen_date_last);

  # Expose last resinclean information as sensor
  - platform: template
    name: ${clack_resinclean_last}
    id: clack_resinclean_last
    icon: mdi:clock-start
    update_interval: never
    lambda: |-
      return id(resinclean_date_last);

  # Expose last salt fill information as sensor
  - platform: template
    name: ${clack_saltfill_last}
    id: clack_saltfill_last
    icon: mdi:clock-start
    update_interval: never
    lambda: |-
      return id(fill_last);

